body {
      font-family: Arial, sans-serif;
      margin: 20px;
}

img {
      width: 150px;
}

h2 {
      color: #333;
}

a {
      color: #fff;
      text-decoration: none;
      font-size: 18px;
}

.container {
    display: grid;
    justify-items: center;
}

.btn {
    width: 15rem;
    margin: 0.5rem;
    background-color: #96bae5;
    border: 1px solid #85b0e3;
    border-radius: 5px;
    padding: 0.5rem;
    font-size: 15px;
    font-weight: 600;
}

.btn:hover {
    background-color: #539aef;
    border: 1px solid #85b0e3;
}

.container-input {
     display: flex;
    justify-content: space-between;
    width: 20rem;
    margin: 0.5rem;
}